.sauda{
    border-radius: 45px;
    margin-left: 550px;
    margin-top: 150px;
    background-color: aqua;
    display:flex;
    justify-content: center;
    flex-direction:column;
    width:450px;
    height: 400px;
 .text1{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
 }
}