.login{
    padding: auto;
    margin-left: 400px;
    margin-top: 175px;
    border-radius: 45px;
    box-shadow: 20px 20px 20px 10px rgb(131, 2, 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 650px;
    width: 450px;
    background-color: red;
.Passe{
    text-align: center;
    height: 150px;
    width: 400px;
    border-radius: 20px;
   margin-top: 20px; 
   background-color: grey;
   border-style: dashed;
   border-color: white;
h3{
    margin-top: 60px;
}
}
button{
    margin-top: 10px;
    border-radius: 25px;
    border-style:solid ;
    border-color: black;
    background-color: orangered;
    box-shadow: 15px 15px 20px orange;
    height: 90px;
    width: 400px;
}
}
